
.content{
    height:1500px;
    margin-bottom: 10px
}

table{
    width: 75%;
    margin: auto;
    border-collapse: collapse;
    border: solid 2px;

}
th{
    border: solid 2px;
    height:50px;
    font-size: 20px;
}
tr,td{
    border: solid 1px;  
    height: 30px;
    font-size: 18px;
}
.custom-dropdown a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
  }

  .custom-dropdown:hover a {
    background-color: #f0f0f0;
  }

