
.footer
{
  background-color:black;
}
.footerBox{

  
  display:grid;
  grid-template-columns:repeat(5,1fr);
  
}
.footer p
{
  font-size: 15px;
  text-transform:uppercase;
  font-family:brutalist_mono;
  font-weight: 100;
}
.bottomLogo img
{
  width: 300px;
  height: 300px;
  
}
.help
{
  height: 150px;;
  /* border:1px solid white; */
  margin-top:60px;
  
 
}
.help a
{
  color:white;
  text-decoration:none;
}
.help a:hover
{
  font-weight: bold;
  font-size:20px;
  
  
}

.grid-item
{
  width:80%;
  
  background-color:white;
}

.media a
{
 color:white;
 border:1px solid white;
 border-radius:300px;
 width: 20px;
 height: 20px;

 
 display: grid;
 align-items: center;
 justify-content: center;

}

.media
{
  margin-left: 40%;
  display: grid;
  grid-template-columns:repeat(4,80px);
  height:300;
  
}
h3,p{
    color:white;
    font-family:Times New Roman;
    letter-spacing: 2px;
    line-height: 1.2;
}
.fa {
    padding: 20px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }


  .fa:hover {
    font-size: 20px;
    width:30px;
    height:30px;
      opacity: 0.7;

    display: grid;
    align-items: center;
    justify-content: center;
  }
/* .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #ef673a;
    border-radius: 200px;
    color: white;
  }
  .fa-google {
    background: #110d0c;
    color: white;
    border-radius: 200px;
    border: white solid 1px;
  } */

  #div1{
    display: flex;
    flex-flow: row wrap;
  }
  .subColumn{
    flex: 1;
  }
  hr.new1 {
    border-top: 5px solid black;
  }
  a.media{
    justify-content: center;
  }
  