.footer{
    display:grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    border: solid black 1px;
    height:260px;
    background-color: black;
    color:white;
    font-size:14px;
}
h3,p{
    color:white;
    font-family:Times New Roman;
    letter-spacing: 2px;
    line-height: 1.2;
}
.fa {
    padding: 20px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa:hover {
      opacity: 0.7;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #ef673a;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }

  #div1{
    display: flex;
    flex-flow: row wrap;
  }
  .subColumn{
    flex: 1;
  }
  hr.new1 {
    border-top: 5px solid black;
  }
  a.media{
    justify-content: center;
  }