.gallary
{
    
    margin: 5vh auto;
    
    background-color:rgba(255,255,255,.5); 
    width:70vw;
    height:30vh;
}

 
 
 
 .changeimage
{
    
    width:100%;
    height:90%;
    

    animation:animate 16s ease-in-out infinite;
     /* margin-top:100px; */ 
    background-repeat: no-repeat;
     /* background-clip: border-box; */
      background-size: cover;
      border-radius: 30px;
      margin:0px auto;
     
      
 }
@keyframes animate{
   0%
   {
    background-image:url("../edit/image1.png");
    background-position: left;
    
    
   }
   10%
   {
    background-image:url("../edit/image2.png");
    background-position: left;
   }
   20%
   {
    background-image:url("../edit/image3.png");
    background-position: left;
   }
   30%
   {
    background-image:url("../edit/image4.jpg");
    background-position: left;

   }

   40%
   {
    background-image:url("../edit/image5.jpg");
    background-position: left;
   }
   50%
   {
    background-image:url("../edit/image6.jpg");
    background-position: left;
   }
   60%
   {
    background-image:url("../edit/image7.jpg");
    background-position: left;
   }
   80%
   {
    background-image:url("../edit/image8.jpg");
    background-position: left;
   } 
   90%
   {
    background-image:url("../edit/image9.jpg");
    background-position: left;
   } 

   100%
   {
    background-image:url("../edit/image10.jpg");
    background-position: left;
   } 


}

.iamgecollection{

    margin:0px 0px 0px 23%;
    width: 100%;

}
.photo img
{
    width:70%;
    height:90%;
    border-radius: 10px;
    border:5px solid rgba(0,0,0,.5)
}
.collect{
    display:grid;
    grid-template-columns:.2fr .2fr .2fr;
    /* grid-template-rows: .2fr .2fr .2fr; */
     grid-auto-flow: row; 
    gap:10px;
}
.Official h1{
    text-align: center; 
    text-transform: capitalize; 
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
     font-size:40px;
}
