.log-in{
    background-color: rgb(219, 216, 216);
    height: 28px;
}
.a{
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin-right: 5px;
}
.button{
    float: right;
    border: none;
    height: 28px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }