.Signin
{
   height: 1000px;
  

   
}

.log-in
{
    width:40%;
    height:50%;
    background-color: rgba(0,0,0,.5);
    margin:100px auto;
    border-radius: 20px;

    position: relative;
}

body{
    background-color: white;
}
.logicon img
{
    width:80px;
    height:80px;
    border-radius: 50%;
    /* float:left; */
    position: absolute;
    left:150px;
    top:50px;

   
   

}   

.logicon h1
{
    color:white;
    position: absolute;
    top:50px;
    left:250px;
    font-family:Fjalla;
}

/* .logicon
{
    position: absolute;
    left:40px;
    top:100px;
} */

.google input
{
    position: absolute;
    top:200px;
    width:90%;
    height:10%;
    padding:10px;
    box-sizing: border-box;
    font-size:20px;
    border-radius: 10px;
    border:none;
}

.email input
{
    position: absolute;
    top:280px;
    width:90%;
    height:10%;
    padding:10px;
    border-radius: 10px;
    border:none;
   
    font-size:20px;
}
.log-in
{
    padding:20px;
    min-width:510px;
}


@media screen and (max-width:900px) {

    .singin button
    {
        position: absolute;
        top:400px;
        left:30%;
     
    
    
        
    }
    .logicon img
    {
        
        
        position: absolute;
        left:50px;
        top:50px;
    
       
       
    
    }   
    
    .logicon h1
    {
        
        position: absolute;
        top:50px;
        left:150px;
    }
    
    
    }
    
    @media screen and (max-width:1500px) {
    
        .singin button
        {
            position: absolute;
            top:400px;
            left:30%;
         
        
        
            
        }
        .logicon img
        {
            
            
            position: absolute;
            left:50px;
            top:50px;
        
           
           
        
        }   
        
        .logicon h1
        {
            
            position: absolute;
            top:50px;
            left:150px;
        }
        
        
        }